.hero {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading02 {
  @apply container mx-auto text-center;
  position: relative;
  margin: 4rem auto;
  font-size: 32px;
}

.heading02::after {
  content: 'Menu';
  font-size: 1.2rem;
  position: absolute;
  top: 2.6rem;
  left: 50%;
  transform: translateX(-50%);
  color: #00704a;
}

.item_wrapper {
  @apply container mx-auto;
  max-width: 1140px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.item_wrapper h3 {
  position: relative;
  display: inline;
  font-size: 1.2rem;
  font-weight: 600;
}

.h3Wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.h3Wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 800px;
  height: 1px;
  background-color: #707070;
}

.item_wrapper .bev::after {
  content: 'Beverage Menu';
  width: 100%;
  position: absolute;
  top: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  text-align: center;
  color: #00704a;
}

.item_wrapper .food::after {
  content: 'Food Menu';
  width: 100%;
  position: absolute;
  top: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  text-align: center;
  color: #00704a;
}

.item_wrapper .coffee::after {
  content: 'Beans';
  width: 100%;
  position: absolute;
  top: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  text-align: center;
  color: #00704a;
}

.item_wrapper .goods::after {
  content: 'Goods';
  width: 100%;
  position: absolute;
  top: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  text-align: center;
  color: #00704a;
}

.btn {
  @apply text-white font-bold py-2 px-4 rounded-full;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00704a;
}
.btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .h3Wrapper::after {
    content: '';
    display: none;
  }
}
